    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #9c9c9c;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    .dropbtnProva {
        background-color: #bcc3c4;
        width: 300px;
        margin: 10px;
        color: #f6f6f6;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .dropbtnProva:hover, .dropbtn:focus {
        background-color: #626665;
    }

    .dropdownProva {
        position: relative;
        /*display: inline-block;*/
        text-align: center;
        margin-top: 4%;
    }

    .dropdown-contentProva {
        display: none;
        /*position: absolute;*/
        background-color: #f9ffffa3;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

    .dropdown-contentProva a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-contentProva a:hover {
            background-color: #9c9c9c;
    }

    .showContinent {
        display: block;
    }

    path:hover {
        background-color: yellow;
    }

    a:hover {
        cursor: pointer;
    }
