@model IoT_Web.Models.Axxon.AxxonModel

<h2 class="h1-responsive font-weight-bold text-center my-4"><font color="white">@Recursos.Idioma.Cameres</font></h2>

<div class="row" style="padding:10px 15px">
    <iframe src="http://@Model.IP/player.html?mode=@Model.Mode&cam=@Model.CameresStr" style="width:100%; height:@Model.FrameHeight;" />
</div>
